In [1]:
import pandas as pd

In [2]:
# Assigning the movie gross table to variable
df_movie_gross = pd.read_csv('dataframe_id_bom_movie_gross_gz.csv')

In [3]:
print(df_movie_gross.head()) #checking the layout and stats
print(df_movie_gross.info)
print(df_movie_gross.shape)

                                         title studio  domestic_gross  \
0                                  Toy Story 3     BV     415000000.0
1                   Alice in Wonderland (2010)     BV     334200000.0
2  Harry Potter and the Deathly Hallows Part 1     WB     296000000.0
3                                    Inception     WB     292600000.0
4                          Shrek Forever After   P/DW     238700000.0

  foreign_gross  year
0     652000000  2010
1     691300000  2010
2     664300000  2010
3     535700000  2010
4     513900000  2010
<bound method DataFrame.info of                                             title      studio  domestic_gross  \
0                                     Toy Story 3          BV     415000000.0
1                      Alice in Wonderland (2010)          BV     334200000.0
2     Harry Potter and the Deathly Hallows Part 1          WB     296000000.0
3                                       Inception          WB     292600000.0
4                             Shrek Forever After        P/DW     238700000.0
...                                           ...         ...             ...
3382                                    The Quake       Magn.          6200.0
3383                  Edward II (2018 re-release)          FM          4800.0
3384                                     El Pacto        Sony          2500.0
3385                                     The Swan  Synergetic          2400.0
3386                            An Actor Prepares       Grav.          1700.0

     foreign_gross  year
0        652000000  2010
1        691300000  2010
2        664300000  2010
3        535700000  2010
4        513900000  2010
...            ...   ...
3382           NaN  2018
3383           NaN  2018
3384           NaN  2018
3385           NaN  2018
3386           NaN  2018

[3387 rows x 5 columns]>
(3387, 5)

In [4]:
# dropping 'studio' column due to irrelevance
df_movie_gross.drop(axis=1, columns='studio', inplace=True)

In [5]:
#finding NaNs
print(df_movie_gross.isna())
print(df_movie_gross.isna().sum())

      title  domestic_gross  foreign_gross   year
0     False           False          False  False
1     False           False          False  False
2     False           False          False  False
3     False           False          False  False
4     False           False          False  False
...     ...             ...            ...    ...
3382  False           False           True  False
3383  False           False           True  False
3384  False           False           True  False
3385  False           False           True  False
3386  False           False           True  False

[3387 rows x 4 columns]
title                0
domestic_gross      28
foreign_gross     1350
year                 0
dtype: int64

In [6]:

# missing 5 values for sutdio [dropping column anyway] 
#domestic_gross is missing 28 values might just drop those rows
#foreign_gross missing 1350 values; calculating the percentage of data missing
(df_movie_gross['foreign_gross'].isna()
                 .sum()/len(df_movie_gross['foreign_gross'])) * 100

39.85828166519043

In [7]:
# 39.85% of our foreign gross values is missing, replacing with median values
# importing budget csv to see if I can fill in missing data by merging
df_budget = pd.read_csv('dataframe_id_tn_movie_budgets_gz.csv')
#checking head, info, and shape
print(df_budget.head())
print(df_budget.info())
df_budget.shape

   id  release_date                                        movie  \
0   1  Dec 18, 2009                                       Avatar
1   2  May 20, 2011  Pirates of the Caribbean: On Stranger Tides
2   3   Jun 7, 2019                                 Dark Phoenix
3   4   May 1, 2015                      Avengers: Age of Ultron
4   5  Dec 15, 2017            Star Wars Ep. VIII: The Last Jedi

  production_budget domestic_gross worldwide_gross
0      $425,000,000   $760,507,625  $2,776,345,279
1      $410,600,000   $241,063,875  $1,045,663,875
2      $350,000,000    $42,762,350    $149,762,350
3      $330,600,000   $459,005,868  $1,403,013,963
4      $317,000,000   $620,181,382  $1,316,721,747
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
id                   5782 non-null int64
release_date         5782 non-null object
movie                5782 non-null object
production_budget    5782 non-null object
domestic_gross       5782 non-null object
worldwide_gross      5782 non-null object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB
None

(5782, 6)

In [8]:
# dropping irrelevant columns
df_budget.drop(axis=1, columns=['id'], inplace=True)
df_budget.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 5 columns):
release_date         5782 non-null object
movie                5782 non-null object
production_budget    5782 non-null object
domestic_gross       5782 non-null object
worldwide_gross      5782 non-null object
dtypes: object(5)
memory usage: 226.0+ KB

In [9]:
#checking for missing values
df_budget.isna().sum()

release_date         0
movie                0
production_budget    0
domestic_gross       0
worldwide_gross      0
dtype: int64

In [10]:
# no missing values, all relevant columns need to be converted into integers

# Ayesha's Data Cleaning for title_akas

In [12]:
df_title_akas = pd.read_csv('dataframe_id_imdb_title_akas_gz.csv')
df = df_title_akas

In [13]:
print(df_title_akas.head())
print(df_title_akas.info())
print(df_title_akas.shape)

    title_id  ordering                                    title region  \
0  tt0369610        10                            Джурасик свят     BG
1  tt0369610        11                        Jurashikku warudo     JP
2  tt0369610        12  Jurassic World: O Mundo dos Dinossauros     BR
3  tt0369610        13                  O Mundo dos Dinossauros     BR
4  tt0369610        14                           Jurassic World     FR

  language        types   attributes  is_original_title
0       bg          NaN          NaN                0.0
1      NaN  imdbDisplay          NaN                0.0
2      NaN  imdbDisplay          NaN                0.0
3      NaN          NaN  short title                0.0
4      NaN  imdbDisplay          NaN                0.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331703 entries, 0 to 331702
Data columns (total 8 columns):
title_id             331703 non-null object
ordering             331703 non-null int64
title                331703 non-null object
region               278410 non-null object
language             41715 non-null object
types                168447 non-null object
attributes           14925 non-null object
is_original_title    331678 non-null float64
dtypes: float64(1), int64(1), object(6)
memory usage: 20.2+ MB
None
(331703, 8)

In [14]:
# Grouping data in catagories
df.groupby('region').median()

        ordering  is_original_title
region
AD           1.0                0.0
AE           1.0                0.0
AF           1.0                0.0
AG           1.0                0.0
AI           1.0                0.0
...          ...                ...
XYU          4.0                0.0
YE           2.0                0.0
ZA           1.0                0.0
ZM           2.0                0.0
ZW           1.0                0.0

[213 rows x 2 columns]

In [15]:
df.groupby('title').median()

                       ordering  is_original_title
title
!Women Art Revolution       2.5                0.0
# Pire soirée              22.0                0.0
#1 Serial Killer            2.5                0.5
#211                        3.0                0.0
#5                          1.5                0.0
...                         ...                ...
междугородный               3.0                0.0
неЧЕСТНА ИГРА              21.0                0.0
ороолон                     3.0                0.0
хуизмистерпутин             3.5                0.0
я                           3.0                0.0

[252781 rows x 2 columns]

In [16]:
df.groupby('language').mean()

           ordering  is_original_title
language
af         2.400000                0.0
ar         5.500000                0.0
az        19.000000                0.0
bg         9.748961                0.0
bn         2.393443                0.0
...             ...                ...
xh         2.000000                0.0
yi         3.500000                0.0
yue        6.489510                0.0
zh         1.500000                0.0
zu         7.666667                0.0

[76 rows x 2 columns]

In [17]:
# dropping attribute column
df = df.drop('attributes', axis = 1)
df.isna().sum()

title_id                  0
ordering                  0
title                     0
region                53293
language             289988
types                163256
is_original_title        25
dtype: int64

# Ayesha's Data Cleaning for movies

In [18]:
df_movies = pd.read_csv('dataframe_id_tmdb_movies_gz.csv')

In [19]:
print(df_movies.head())
print(df_movies.info())
print(df_movies.shape)

   Unnamed: 0            genre_ids     id original_language  \
0           0      [12, 14, 10751]  12444                en
1           1  [14, 12, 16, 10751]  10191                en
2           2        [12, 28, 878]  10138                en
3           3      [16, 35, 10751]    862                en
4           4        [28, 878, 12]  27205                en

                                 original_title  popularity release_date  \
0  Harry Potter and the Deathly Hallows: Part 1      33.533   2010-11-19
1                      How to Train Your Dragon      28.734   2010-03-26
2                                    Iron Man 2      28.515   2010-05-07
3                                     Toy Story      28.005   1995-11-22
4                                     Inception      27.920   2010-07-16

                                          title  vote_average  vote_count
0  Harry Potter and the Deathly Hallows: Part 1           7.7       10788
1                      How to Train Your Dragon           7.7        7610
2                                    Iron Man 2           6.8       12368
3                                     Toy Story           7.9       10174
4                                     Inception           8.3       22186
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26517 entries, 0 to 26516
Data columns (total 10 columns):
Unnamed: 0           26517 non-null int64
genre_ids            26517 non-null object
id                   26517 non-null int64
original_language    26517 non-null object
original_title       26517 non-null object
popularity           26517 non-null float64
release_date         26517 non-null object
title                26517 non-null object
vote_average         26517 non-null float64
vote_count           26517 non-null int64
dtypes: float64(2), int64(3), object(5)
memory usage: 2.0+ MB
None
(26517, 10)

In [20]:
# not letting me groupby: genre_ids, original_title, popularity, release_date, 
df.groupby('title').median()

                       ordering  is_original_title
title
!Women Art Revolution       2.5                0.0
# Pire soirée              22.0                0.0
#1 Serial Killer            2.5                0.5
#211                        3.0                0.0
#5                          1.5                0.0
...                         ...                ...
междугородный               3.0                0.0
неЧЕСТНА ИГРА              21.0                0.0
ороолон                     3.0                0.0
хуизмистерпутин             3.5                0.0
я                           3.0                0.0

[252781 rows x 2 columns]


# Ayesha's Data Cleaning title_basics

In [21]:

df_title_basics = pd.read_csv('dataframe_id_imdb_title_basics_gz.csv')

In [22]:

print(df_title_basics.head())
print(df_title_basics.info())
print(df_title_basics.shape)

      tconst                    primary_title              original_title  \
0  tt0063540                        Sunghursh                   Sunghursh
1  tt0066787  One Day Before the Rainy Season             Ashad Ka Ek Din
2  tt0069049       The Other Side of the Wind  The Other Side of the Wind
3  tt0069204                  Sabse Bada Sukh             Sabse Bada Sukh
4  tt0100275         The Wandering Soap Opera       La Telenovela Errante

   start_year  runtime_minutes                genres
0        2013            175.0    Action,Crime,Drama
1        2019            114.0       Biography,Drama
2        2018            122.0                 Drama
3        2018              NaN          Comedy,Drama
4        2017             80.0  Comedy,Drama,Fantasy
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
tconst             146144 non-null object
primary_title      146144 non-null object
original_title     146123 non-null object
start_year         146144 non-null int64
runtime_minutes    114405 non-null float64
genres             140736 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB
None
(146144, 6)

In [23]:
df.groupby('original_title').median()

KeyError: 'original_title'

In [24]:
#genres
df_median = df.groupby('title').median()
df_median

                       ordering  is_original_title
title
!Women Art Revolution       2.5                0.0
# Pire soirée              22.0                0.0
#1 Serial Killer            2.5                0.5
#211                        3.0                0.0
#5                          1.5                0.0
...                         ...                ...
междугородный               3.0                0.0
неЧЕСТНА ИГРА              21.0                0.0
ороолон                     3.0                0.0
хуизмистерпутин             3.5                0.0
я                           3.0                0.0

[252781 rows x 2 columns]