# Ben's cleaning

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Assigning the movie gross table to variable
df_movie_gross = pd.read_csv('dataframe_id_bom_movie_gross_gz.csv')

In [3]:
print(df_movie_gross.head()) #checking the layout and stats
print(df_movie_gross.info())
print(df_movie_gross.shape)

                                         title studio  domestic_gross  \
0                                  Toy Story 3     BV     415000000.0
1                   Alice in Wonderland (2010)     BV     334200000.0
2  Harry Potter and the Deathly Hallows Part 1     WB     296000000.0
3                                    Inception     WB     292600000.0
4                          Shrek Forever After   P/DW     238700000.0

  foreign_gross  year
0     652000000  2010
1     691300000  2010
2     664300000  2010
3     535700000  2010
4     513900000  2010
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
title             3387 non-null object
studio            3382 non-null object
domestic_gross    3359 non-null float64
foreign_gross     2037 non-null object
year              3387 non-null int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB
None
(3387, 5)

In [4]:
# dropping 'studio' and 'year' column due to irrelevance
df_movie_gross.drop(axis=1, columns='studio', inplace=True)
df_movie_gross.drop(axis=1, columns='year', inplace=True)

In [5]:
# checking for duplicates
df_movie_gross.duplicated().sum()

0

In [6]:
#finding NaNs
print(df_movie_gross.isna())
print(df_movie_gross.isna().sum())

      title  domestic_gross  foreign_gross
0     False           False          False
1     False           False          False
2     False           False          False
3     False           False          False
4     False           False          False
...     ...             ...            ...
3382  False           False           True
3383  False           False           True
3384  False           False           True
3385  False           False           True
3386  False           False           True

[3387 rows x 3 columns]
title                0
domestic_gross      28
foreign_gross     1350
dtype: int64

In [13]:
#domestic_gross is missing 28 values might just drop those rows
#foreign_gross missing 1350 values; calculating the percentage of data missing
(df_movie_gross['foreign_gross'].isna()
                 .sum()/len(df_movie_gross['foreign_gross'])) * 100

39.85828166519043

In [19]:
# 39.85% of our foreign gross values is missing, replacing with median values
# viewing the missing values to determine if they had an international release

is_NaN = df_movie_gross['foreign_gross'].isnull()
row_has_NaN = is_NaN.any(axis=1)
rows_with_NaN = df_movie_gross[row_has_NaN]


print(rows_with_NaN)

ValueError: No axis named 1 for object type <class 'pandas.core.series.Series'>

In [ ]:
# importing budget csv to see if I can fill in missing data by merging
df_budget = pd.read_csv('dataframe_id_tn_movie_budgets_gz.csv')
#checking head, info, and shape
print(df_budget.head())
print(df_budget.info())
df_budget.shape

In [ ]:
# dropping irrelevant columns
df_budget.drop(axis=1, columns=['id'], inplace=True)
df_budget.info()

In [ ]:
#checking for missing values
df_budget.isna().sum()

In [ ]:
# no missing values, all relevant columns need to be converted into integers
def convert_amt_to_int(df, col):
    """
    Takes a dataframe and column name as arguments and replaces all monetary numbers in that column written in string format, 
    removes dollar symbols($) and commas(,), and returns them in integer form.
    
    Example: 
    >>>>'$439,232,157'
    439232157
    
    """
    df[col] = df[col].str.replace('$','').str.replace(',', '').astype('int64') # 
    return df

In [ ]:
# converting production budget, domestic gross, and worldwide gross values to 'int' for df_budget
convert_amt_to_int(df_budget,'production_budget')
convert_amt_to_int(df_budget,'domestic_gross')
convert_amt_to_int(df_budget,'worldwide_gross')

In [ ]:
# Finding number of instances in columns where values equal 0
df_budget.isin([0]).sum(axis=0)