In [1]:
import pandas as pd

In [2]:
# Assigning the movie gross table to variable
df_movie_gross = pd.read_csv('dataframe_id_bom_movie_gross_gz.csv')

In [3]:
print(df_movie_gross.head()) #checking the layout and stats
print(df_movie_gross.info)
print(df_movie_gross.shape)

                                         title studio  domestic_gross  \
0                                  Toy Story 3     BV     415000000.0
1                   Alice in Wonderland (2010)     BV     334200000.0
2  Harry Potter and the Deathly Hallows Part 1     WB     296000000.0
3                                    Inception     WB     292600000.0
4                          Shrek Forever After   P/DW     238700000.0

  foreign_gross  year
0     652000000  2010
1     691300000  2010
2     664300000  2010
3     535700000  2010
4     513900000  2010
<bound method DataFrame.info of                                             title      studio  domestic_gross  \
0                                     Toy Story 3          BV     415000000.0
1                      Alice in Wonderland (2010)          BV     334200000.0
2     Harry Potter and the Deathly Hallows Part 1          WB     296000000.0
3                                       Inception          WB     292600000.0
4                             Shrek Forever After        P/DW     238700000.0
...                                           ...         ...             ...
3382                                    The Quake       Magn.          6200.0
3383                  Edward II (2018 re-release)          FM          4800.0
3384                                     El Pacto        Sony          2500.0
3385                                     The Swan  Synergetic          2400.0
3386                            An Actor Prepares       Grav.          1700.0

     foreign_gross  year
0        652000000  2010
1        691300000  2010
2        664300000  2010
3        535700000  2010
4        513900000  2010
...            ...   ...
3382           NaN  2018
3383           NaN  2018
3384           NaN  2018
3385           NaN  2018
3386           NaN  2018

[3387 rows x 5 columns]>
(3387, 5)

In [4]:
# dropping 'studio' column due to irrelevance
df_movie_gross.drop(axis=1, columns='studio', inplace=True)

In [5]:
#finding NaNs
print(df_movie_gross.isna())
print(df_movie_gross.isna().sum())

      title  domestic_gross  foreign_gross   year
0     False           False          False  False
1     False           False          False  False
2     False           False          False  False
3     False           False          False  False
4     False           False          False  False
...     ...             ...            ...    ...
3382  False           False           True  False
3383  False           False           True  False
3384  False           False           True  False
3385  False           False           True  False
3386  False           False           True  False

[3387 rows x 4 columns]
title                0
domestic_gross      28
foreign_gross     1350
year                 0
dtype: int64

In [6]:
# missing 5 values for sutdio [dropping column anyway] 
#domestic_gross is missing 28 values might just drop those rows
#foreign_gross missing 1350 values; calculating the percentage of data missing
(df_movie_gross['foreign_gross'].isna()
                 .sum()/len(df_movie_gross['foreign_gross'])) * 100

39.85828166519043

In [7]:
# 39.85% of our foreign gross values is missing, replacing with median values
# importing budget csv to see if I can fill in missing data by merging
df_budget = pd.read_csv('dataframe_id_tn_movie_budgets_gz.csv')
#checking head, info, and shape
print(df_budget.head())
print(df_budget.info())
df_budget.shape

   id  release_date                                        movie  \
0   1  Dec 18, 2009                                       Avatar
1   2  May 20, 2011  Pirates of the Caribbean: On Stranger Tides
2   3   Jun 7, 2019                                 Dark Phoenix
3   4   May 1, 2015                      Avengers: Age of Ultron
4   5  Dec 15, 2017            Star Wars Ep. VIII: The Last Jedi

  production_budget domestic_gross worldwide_gross
0      $425,000,000   $760,507,625  $2,776,345,279
1      $410,600,000   $241,063,875  $1,045,663,875
2      $350,000,000    $42,762,350    $149,762,350
3      $330,600,000   $459,005,868  $1,403,013,963
4      $317,000,000   $620,181,382  $1,316,721,747
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
id                   5782 non-null int64
release_date         5782 non-null object
movie                5782 non-null object
production_budget    5782 non-null object
domestic_gross       5782 non-null object
worldwide_gross      5782 non-null object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB
None

(5782, 6)

In [8]:
# dropping irrelevant columns
df_budget.drop(axis=1, columns=['id'], inplace=True)
df_budget.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 5 columns):
release_date         5782 non-null object
movie                5782 non-null object
production_budget    5782 non-null object
domestic_gross       5782 non-null object
worldwide_gross      5782 non-null object
dtypes: object(5)
memory usage: 226.0+ KB

In [9]:
#checking for missing values
df_budget.isna().sum()

release_date         0
movie                0
production_budget    0
domestic_gross       0
worldwide_gross      0
dtype: int64

In [10]:
# no missing values, all relevant columns need to be converted into integers