# Question 2: What has been the Net Margin performance over the last decade?

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('joined_gross_budget_cleaned.csv')

In [3]:
df.head()

,title,month,year,production_budget,domestic_gross,worldwide_gross,net_prof,net_margin_%
0,(500) Days of Summer,7.0,2009,7500000.0,32425665.0,34439060.0,26939060.0,78.22
1,10 Cloverfield Lane,3.0,2016,5000000.0,72082999.0,108286422.0,103286422.0,95.38
2,10 Things I Hate About You,3.0,1999,13000000.0,38177966.0,60413950.0,47413950.0,78.48
3,"10,000 B.C.",3.0,2008,105000000.0,94784201.0,269065678.0,164065678.0,60.98
4,12 Monkeys,12.0,1995,29000000.0,57141459.0,168841459.0,139841459.0,82.82

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3657 entries, 0 to 3656
Data columns (total 8 columns):
title                3657 non-null object
month                3657 non-null float64
year                 3657 non-null int64
production_budget    3657 non-null float64
domestic_gross       3657 non-null float64
worldwide_gross      3657 non-null float64
net_prof             3657 non-null float64
net_margin_%         3657 non-null float64
dtypes: float64(6), int64(1), object(1)
memory usage: 228.7+ KB

In [ ]:
# make a subset dataframe using relevent values ()