In [5]:
import sqlite3
conn = sqlite3.connect('ddataframe_id_imdb_title_akas_gz.csv')
cur = conn.cursor()

In [6]:
cur.fetchall()

[]

In [7]:
import sqlite3
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from glob import glob

In [8]:
#importing data using glob

csv_files = glob("dataframe_id_imdb_title_akas_gz.csv")
csv_files

['dataframe_id_imdb_title_akas_gz.csv']

In [ ]:
csv_files_dict = {}
for filename in csv_files:
    filename_cleaned = os.path.basename(filename).replace(".csv", "").replace(".", "_") # cleaning the filenames
    filename_df = pd.read_csv(filename, index_col=0)
    csv_files_dict[filename_cleaned] = filename_df

Topic Here

In [11]:
title_akas_df = csv_files_dict['dataframe_id_imdb_title_akas_gz']

In [12]:
title_akas_df.info

<bound method DataFrame.info of            ordering                                    title region language  \
title_id
tt0369610        10                            Джурасик свят     BG       bg
tt0369610        11                        Jurashikku warudo     JP      NaN
tt0369610        12  Jurassic World: O Mundo dos Dinossauros     BR      NaN
tt0369610        13                  O Mundo dos Dinossauros     BR      NaN
tt0369610        14                           Jurassic World     FR      NaN
...             ...                                      ...    ...      ...
tt9827784         2                       Sayonara kuchibiru    NaN      NaN
tt9827784         3                            Farewell Song    XWW       en
tt9880178         1                              La atención    NaN      NaN
tt9880178         2                              La atención     ES      NaN
tt9880178         3                            The Attention    XWW       en

                 types   attributes  is_original_title
title_id
tt0369610          NaN          NaN                0.0
tt0369610  imdbDisplay          NaN                0.0
tt0369610  imdbDisplay          NaN                0.0
tt0369610          NaN  short title                0.0
tt0369610  imdbDisplay          NaN                0.0
...                ...          ...                ...
tt9827784     original          NaN                1.0
tt9827784  imdbDisplay          NaN                0.0
tt9880178     original          NaN                1.0
tt9880178          NaN          NaN                0.0
tt9880178  imdbDisplay          NaN                0.0

[331703 rows x 7 columns]>